<div class="container">

    <form action="http://localhost:8080/proyecto1/login" method="post" class="row g-3">

        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="password">
        </div>
    
        <div class="col-12">
            <button type="submit" class="btn btn-primary">ENTRAR</button>
        </div>

    </form>
</div>