<div class="container mt-3 mb-3">
    <h1 class="text-center">Administrador</h1>
    <hr/>
    <div class="container border pt-3 pb-3 mb-3">
        <h3>Tarjetas</h3>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">Modificar tarjeta</div>
                    <div class="card-body">
                        <p class="card-text">El nivel de la tarjeta de los clientes depende de su consumo en la empresa.
                        </p>
                        <a (click)="navegar(ruta_modTarjeta)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container border pt-3 pb-3 mb-3">
        <h3>Reportes</h3>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">Descuentos</div>
                    <div class="card-body">
                        <p class="card-text">Inspeccione los descuentos por intervalo de tiempo.</p>
                        <a (click)="navegar(ruta_getDescuentos)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Ventas</div>
                    <div class="card-body">
                        <p class="card-text">Inspeccione las 10 ventas mas grandes por intervalo de tiempo.</p>
                        <a (click)="navegar(ruta_getVentasGrandes)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Sucursales</div>
                    <div class="card-body">
                        <p class="card-text">Inspeccione las 2 sucursales con mas ingresos.</p>
                        <a (click)="navegar(ruta_getMejoresSucursales)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Productos</div>
                    <div class="card-body">
                        <p class="card-text">Inspeccione los 10 productos con mas unidades vendidas.</p>
                        <a (click)="navegar(ruta_getProductosMasVendidos)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Clientes distinguidos</div>
                    <div class="card-body">
                        <p class="card-text">Inspeccione los 10 clientes que mas han gastado en la empresa.</p>
                        <a (click)="navegar(ruta_getClientesDistinguidos)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container border pt-3 pb-3 mb-3">
        <h3>Empleados</h3>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">Mostrar empleados</div>
                    <div class="card-body">
                        <p class="card-text">Vea los empleados de las sucursales.</p>
                        <a (click)="navegar(ruta_getEmpleados)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Agregar empleado</div>
                    <div class="card-body">
                        <p class="card-text">Cada empleado debe tener una sucursal y un rol.</p>
                        <a (click)="navegar(ruta_addEmpleado)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>