<div class="container">
    <div class="container mt-3 mb-3">
        <h2 (click)="navegar(ruta_AdminBoard)">Empleados</h2>
        <hr />
        @if (furFormEnviado && empleados.length > 0) {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>dpi</th>
                    <th>nombre</th>
                    <th>username</th>
                    <th>rol</th>
                    <th>sucursal</th>
                </tr>
            </thead>
            <tbody>
                @for(empl of empleados; track empl.dpi) {
                <tr>
                    <td>{{empl.dpi}}</td>
                    <td>{{empl.nombre}}</td>
                    <td>{{empl.username}}</td>
                    <td>{{empl.rol}}</td>
                    <td>{{empl.sucursal}}</td>
                </tr>
                }
            </tbody>
        </table>
        }
        @else if(furFormEnviado && empleados.length == 0) {
        <div class="alert alert-info" role="alert">
            No hay empleados?
        </div>
        }
        @else if(furFormEnviado && !empleados) {
        <div class="alert alert-warning" role="alert">
            Operacion fallida?!
        </div>
        }
    </div>
</div>