<div class="container mt-3 mb-3">
    <h1 class="text-center">Bodega</h1>
    <hr/>
    <div class="container border pt-3 pb-3 mb-3">
        <h3>Productos</h3>
        <hr/>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">Agregar producto</div>
                    <div class="card-body">
                        <p class="card-text">Registre los productos que llegan a su sucursal.</p>
                        <a (click)="navegar(ruta_addProducto)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Mostrar productos</div>
                    <div class="card-body">
                        <p class="card-text">Vea los productos de su sucursal.</p>
                        <a (click)="navegar(ruta_getProductos)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>