<div class="container mt-3 mb-3">
    <div class="container pt-3 pb-3 border">
        <h2 (click)="navegar(rutas.ruta_CajaBoard)">Agregar venta</h2>
        <hr />

        @for(component of loop_AddProducto; track $index){
        <gpx-add-producto #addProduct></gpx-add-producto>
        }

        <div class="d-flex justify-content-center">
            <button (click)="addComponent()" class="btn btn-outline-primary">AGREGAR PRODUCTO</button>
        </div>

        <!--
        <p>Values: {{ values | json }}</p>
        -->

        <hr />

        <div class="container row">
            <label class="col-3 col-form-label">NIT</label>
            <div class="col-9">
                <input [(ngModel)]="input_nit" (blur)="getCliente(input_nit)"
                    class="form-control btn-outline-primary bg-secondary-subtle" />
            </div>
        </div>
        @if (flag_fueEnviado && !flag_existeCliente) {
        <div class="bg-warning-subtle p-3 border mt-3">
            NIT incorrecto?!
        </div>
        }
        @else if(flag_fueEnviado && flag_existeCliente){
        <h4 class="text-center text-primary mt-3">{{http_cliente.nombre}}</h4>
        }

        <hr />

        <div class="d-flex justify-content-center">
            <button (click)="collectValues()" class="btn btn-outline-light">FACTURAR</button>
        </div>

    </div>
</div>