<div class="container mt-3 mb-3">
    <h1 class="text-center">Inventario</h1>
    <hr/>
    <div class="container border pt-3 pb-3 mb-3">
        <h3>Inventario</h3>
        <hr/>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">Modificar estanteria</div>
                    <div class="card-body">
                        <p class="card-text">Traslade productos desde bodega hacia un pasillo.</p>
                        <a (click)="navegar(ruta_Estanteria)" class="btn btn-outline-primary">entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>