<div class="container">
    <div class="container mt-3 mb-3">
        <h2 (click)="navegar(rutas.ruta_InventBoard)">Productos en sucursal</h2>
        <hr />
        @if (fueRespuestaRecibida && productos.length > 0) {
        <div class="table-responsive">
            <table class="table table-striped-columns table-hover border">
                <thead>
                    <tr>
                        <th>barcode</th>
                        <th>nombre</th>
                        <th>en bodega</th>
                        <th>pasillo</th>
                        <th>en pasillo</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>

                <tbody>
                    @for(p of productos; track p.barcode) {
                    <tr>
                        <td>{{p.barcode}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.unidades_bodega}}</td>
                        <td>{{p.pasillo}}</td>
                        <td>{{p.unidades_pasillo}}</td>
                        <td>@if(p.pasillo == -1){<a
                                class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border "
                                (click)="navegarQuery(rutas.ruta_InventAddPasillo,p.barcode)">add pasillo</a>}</td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
        }
        @else if(fueRespuestaRecibida && productos.length == 0) {
        <div class="alert alert-info" role="alert">
            No hay productos?
        </div>
        }
        @else if(fueRespuestaRecibida && !productos) {
        <div class="alert alert-warning" role="alert">
            Operacion fallida?!
        </div>
        }
    </div>
</div>